<!DOCTYPE html>
<html>
	{% load staticfiles %}
	<head>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<title>{% block title %} {% endblock %}</title>
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	    <!-- background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%); -->

	<body >
		
			{% if user.is_authenticated %}
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		  <a class="navbar-brand" href="{% url 'index' %}">Django</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
    		<li class="nav-item">
		        <a class="nav-link" href="{% url 'student' %}">Student Form</a>
		      </li>

		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'school' %}">School Form</a>
		      </li>

		       <li class="nav-item">
		        <a class="nav-link" href="{% url 'detail' %}">Details</a>
					</li>
					<li class="nav-item">
							<a class="nav-link" href="{% url 'game' %}">Tic Tac Toe</a>
						</li>
					</ul>
					<ul class="navbar-nav">
							<li class="nav-item ml-auto">
								<p class="nav-link" >{{ user.username }}:</p>
							</li>
							<li class="nav-item ml-auto">
							<a class="nav-link" href="{% url 'logout' %}">Logout</a>
							</li>
					</ul>

		      
		  </div>
		</nav>
		
		  		
				{% block body_block %}

				{% endblock %}

		
			{% else %}
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
					<a class="navbar-brand" href="{% url 'index' %}">Django</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
		
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
						
							
							<li class="nav-item">
									<a class="nav-link" href="{% url 'login' %}">Login</a>
								</li>
								<li class="nav-item">
										<a class="nav-link" href="{% url 'register' %}">Sign up</a>
															</li>
							
							
					</div>
				</nav>			
				<div class="hero-wrap" style="background-image: url('{% static 'images/bg_1.jpg'%}');"  background-attachment:fixed;">
						<div class="overlay"></div>
							<div class="container">
								<div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
									
										<h1 style="color: black">No Nation Can Prosper In Life Without Education</h1>
										<!-- <p><a href="#" class="btn btn-primary px-4 py-3">Apply Now</a> <a href="#" class="btn btn-secondary px-4 py-3">View Courses</a></p> -->
								</div>
							</div>
					</div>

				{% endif %}

	</body>
</html>
